form.find__joke(action="#")
    div.find__list
        div.find__item
            div.radioButton
                input(type="radio" id="jokeRandom" data-name="random" name='jokeFind')
                label(for="jokeRandom") Random
        div.find__item
            div.radioButton
                input(type="radio" id="jokeFromCategory" data-name="category" name='jokeFind' checked)
                label(for="jokeFromCategory") From categories
            div.category__list.findSub.findSub--show
                button.button.category__item(data-category='animal') animal
                button.button.category__item(data-category='career') career
                button.button.button--active.category__item(data-category='celebrity') celebrity
                button.button.category__item(data-category='dev') dev
            span.error__message.category__error * You did not select a category
        div.find__item
            div.radioButton
                input(type="radio" id="jokeSearch" data-name="search" name='jokeFind')
                label(for="jokeSearch") Search
            input.input--custom.findSub(type="search" name="jokeSearch" placeholder="Free text search..." autocomplete="off")
            span.error__message.search__error * Enter more than 3 characters
        button.button.button--submit(type="submit") Get a joke
