div.searchResults
    button.button.searchResults__click show more jokes
    p.searchResults__values
        | Results&nbsp;
        span.searchResults__count 1-10
        | &nbsp;from&nbsp;
        span.searchResults__total 9875
        | &nbsp;for&nbsp;
        span.searchResults__request 'request'
div.searchResults__notFound no jokes found (((((
