.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #ffffff;
  padding: 20px 20px 20px 80px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 45px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./assets/images/message.svg") no-repeat center #F8F8F8;
  }
  &--big {
    border-radius: 20px;
    background: #F8F8F8;
    padding: 40px 40px 40px 100px;
    &::before {
      content: "";
      top: 67px;
      left: 40px;
      background-color: #ffffff;
    }
  }
  &--get {
    margin-top: 40px;
  }
  &--liked {
    margin-top: 20px;
    & .card--select {
      cursor: pointer;
      &::before {
        background: url("./assets/images/heart-bg.svg") no-repeat;
      }
    }
  }
}

.card {
  &__id {
    display: flex;
    align-items: center;
    font-size: 0.625rem;
    & > span {
      color: #ABABAB;
      font-size: inherit;
    }
    &::after {
      content: "";
      display: inline-flex;
      width: 10px;
      height: 10px;
      margin-left: 5px;
      background: url("./assets/images/link.svg") no-repeat center;
      background-size: contain;
    }
  }
  &__joke {
    word-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.429rem;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  &__time {
    padding-left: 3px;
  }
  &__update {
    font-size: 0.625rem;
    color: #ABABAB;
    & > span {
      font-size: inherit;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__category {
    font-size: 0.625rem;
    line-height: 0.875rem;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    &:hover {
      cursor: text;
    }
  }
  &--select {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 17px;
    margin-bottom: 10px;
    position: relative;
    align-self: flex-end;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 17px;
      background: url("./assets/images/heart.svg") no-repeat;
      transition: all 0.2s linear;
    }
    &:hover {
      cursor: pointer;
      &::before {
        cursor: pointer;
        background: url("./assets/images/heart-bg.svg") no-repeat;
      }
    }
    &Bg {
      &::before {
        background: url("./assets/images/heart-bg.svg") no-repeat;
      }
    }
  }
  &--favourite {
    & svg {
      fill: #FF6767;
    }
  }
  &.card--big {
    & .card__joke {
      font-size: 1.125rem;
      line-height: 1.625rem;
      padding-bottom: 23px;
    }
  }
}

.card {
  &__list {
    & .card {
      &:not(:last-of-type) {
        margin: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .card--liked {
    margin-top: 50px;
    &.card__list {
      & .card {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .card--big {
    padding: 40px 30px 40px 90px;
  }
  .card--big::before {
    left: 30px;
  }
  .card--liked {
    &.card__list {
      & .card {
        max-width: 100%
      }
    }
  }
}
