a {
  color: #8EA7FF;
}

span {
  font-size: 1rem;
}

p::selection {
  background: #FF9933;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333333;
  background-color: transparent;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: color 0.2s linear, background-color 0.2s linear;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  &--active {
    background: #F8F8F8;
    color: #333333;
  }
  &--submit {
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.375rem;
    text-transform: none;
    letter-spacing: 0;
    padding: 10px 40px;
    margin-top: 20px;
    transition: background 0.2s ease-out;
    &:hover {
      background: linear-gradient(92.01deg, darken(#8EA7FF, 5%) 0%, darken(#7291FF, 5%) 100%);;
    }
    &:active {
      background: linear-gradient(92.01deg, darken(#8EA7FF, 2%) 0%, darken(#7291FF, 2%) 100%);;
    }
  }
}

li {
  &:hover {
    cursor: pointer;
  }
}

.radioButton {
  & input[type="radio"] {
    display: none;
  }
  & label {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    &::before,
    &::after {
      box-sizing: border-box;
      border-radius: 50%;
      position: absolute;
    }
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      left: 0;
      border: 2px solid #ABABAB;
      transition: border 0.2s linear;
    }
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      left: 5px;
      background-color: #333333;
      opacity: 0;
      top: 50%;
      margin-top: -5px;
      transition: opacity 0.2s linear;
    }
    &:hover {
      cursor: pointer;
      &::before {
        border: 2px solid darken(#ABABAB, 20%);
      }
    }
  }
  & input[type="radio"]:checked + label::before {
    border: 2px solid #333333;
  }
  & input[type="radio"]:checked + label::after {
    opacity: 1;
  }
}

input[type='search'] {
  width: 100%;
  margin-top: 28px;
  -webkit-appearance: none;
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

.input--custom {
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1.375rem;
  outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.error__message {
  display: none;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #FF0000;
  &--show {
    display: inline-flex;
  }
  &.category__error {
    padding-top: 0;
  }
}