.favourite {
  &__toggle {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 0;
    color: #ABABAB;
    font-size: 1.25rem;
    line-height: 1.75rem;
    z-index: 555;
    transition: color 0.2s ease-out;
    &:hover {
      cursor: pointer;
      color: darken(#ABABAB, 10%);
      & .favourite__icon {
        background-color: darken(#333333, 10%);
      }
    }
    &:active {
      cursor: pointer;
      color: darken(#ABABAB, 2%);
      & .favourite__icon {
        background-color: darken(#333333, 2%);
      }
    }
  }
  &__icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #333333;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.2s ease-out;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 14px;
      height: 2px;
      border-radius: 2px;
      background-color: #ffffff;
    }
    &::before {
      margin-bottom: 4px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .favourite {
    &__toggle {
      display: flex;
    }
  }
}