@keyframes elementShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.find {
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
  &Sub {
    display: none;
  }
  &Sub--show {
    display: flex;
    animation: elementShow 0.5s ease-out;
  }
}

.category {
  &__list {
    flex-wrap: wrap;
    margin-top: 20px;
    &.button--active {
      background-color: #ffffff;
    }
  }
  &__item {
    line-height: 1rem;
    font-size: 0.75rem;
    border: 2px solid #F8F8F8;
    color: #ABABAB;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
    &.button--active {
      color: #333333;
    }
    &:hover {
      cursor: pointer;
      color: #333333;
      background: #F8F8F8;
    }
    &:active {
      color: lighten(#333333, 15%);
      background: lighten(#F8F8F8, 1%);
    }
  }
}

.searchResults {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2rem;
  padding-top: 30px;
  &__click {
    padding: 6px 15px;
    border: 2px solid #F8F8F8;
    line-height: 1rem;
    font-size: 0.75rem;
    margin-bottom: 10px;
    &:hover {
      background-color: darken(#F8F8F8, 5%);
    }
    &:active {
      background-color: darken(#F8F8F8, 2%);
    }
    &--hidden {
      display: none;
    }
  }
  &--show {
    display: flex;
  }
  &__notFound {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    color: red;
    &--show {
      display: inline-flex;
    }
  }
}