h1 {
  font-size: 2rem;
  line-height: 2.75rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.75rem;
}

h3 {
  font-size: 1.25rem;
}

section > h3 {
  padding-bottom: 80px;
}

aside > h3 {
  color: #ABABAB;
}

section > h2 {
  padding-bottom: 43px;
}
