@import "~reset-css";
@import "_fonts";
@import "_custom";
@import "_headers";
@import "_card";
@import "_find";
@import "_favouriteIcon";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: #333333;
}

main {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: inherit;
}

main > section,
main > aside {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100%;
}

main > section {
  max-width: 680px;
  width: 77.77%;
  margin: 0 2.78%;
  position: relative;
}

main > aside {
  flex-shrink: 0;
  min-width: 480px;
  width: 33.33%;
  padding-left: 2.78%;
  padding-right: 2.78%;
  background-color: #F8F8F8;
}

@keyframes bgLittle {
  from {
    background-color: #ffffff;
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.bg {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 222;
    animation: bgLittle 0.3s linear;
  }
  & .favourite__icon {
    background: url("./assets/images/close.svg") no-repeat center #333333;
    &::before,
    &::after {
      display: none;
    }
  }
}

@keyframes toLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  main {
    justify-content: center;
    position: relative;
  }
  main > section {
    width: 100%;
    max-width: 755px;
    margin: 0 40px;
  }
  main > aside {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 480px;
    padding-left: 40px;
    padding-right: 40px;
    & h3 {
      display: none;
    }
  }

  .favourite--show {
    display: flex;
    z-index: 333;
    animation: toLeft 0.3s linear;
  }

  .favourite--hidden {
    display: flex;
    z-index: 333;
    animation: toRight 0.3s linear;
  }

}

@media screen and (max-width: 580px) {
  main > section {
    margin: 0 20px;
  }
  main > aside {
    width: 100%;
    min-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

