<div class="card--select">
</div>
<div class="card__id"><span>ID:</span><a href="#"></a></div>
<p class="card__joke"></p>
<div class="card__info"><p class="card__update">Last update:<span class="card__time"></span></p>
    <button class="button card__category" data-category="celebrity"></button>
</div>