doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="description" content="msi2020")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='msi2020'
        link(rel="icon" href="./simple-logo.png" type="image/x-icon")
    body
        main
            section
                h3 MSI 2020
                h1 Hey!
                h2 Let’s try to find a joke for you:
                include ./includes/formFind
                include ./includes/card
                include ./includes/searchResults
                div.favourite__toggle
                    div.favourite__icon
                    span Favourite
            aside.favourite
                h3 Favourite
                include ./includes/cardLiked





